core/de.hub.clickwatch.core.test/resources/link_stat.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2011 sp1 (x64) (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="tau">
		<xs:complexType>
			<xs:attribute name="value" type="xs:int" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="probes">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="probe" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="time" type="xs:decimal" use="required"/>
			<xs:attribute name="id" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="probe">
		<xs:complexType>
			<xs:attribute name="size" type="xs:short" use="required"/>
			<xs:attribute name="rate" type="xs:byte" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="period">
		<xs:complexType>
			<xs:attribute name="value" type="xs:short" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="link_info">
		<xs:complexType>
			<xs:attribute name="size" type="xs:short" use="required"/>
			<xs:attribute name="rev" type="xs:byte" use="required"/>
			<xs:attribute name="rate" type="xs:byte" use="required"/>
			<xs:attribute name="fwd" type="xs:byte" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="link">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="link_info" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="to" type="xs:string" use="required"/>
			<xs:attribute name="tau" type="xs:int" use="required"/>
			<xs:attribute name="seq" type="xs:short" use="required"/>
			<xs:attribute name="period" type="xs:short" use="required"/>
			<xs:attribute name="last_rx" type="xs:decimal" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="handlers">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="handler" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="elem_name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="BRN2LinkStat"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="handler">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="badnodes"/>
				<xs:element ref="entry"/>
				<xs:element ref="period"/>
				<xs:element ref="probes"/>
				<xs:element ref="tau"/>
			</xs:choice>
			<xs:attribute name="name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="bad_version"/>
						<xs:enumeration value="bcast_stats"/>
						<xs:enumeration value="period"/>
						<xs:enumeration value="probes"/>
						<xs:enumeration value="tau"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="entry">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="link" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="time" type="xs:decimal" use="required"/>
			<xs:attribute name="tau" type="xs:int" use="required"/>
			<xs:attribute name="seq" type="xs:short" use="required"/>
			<xs:attribute name="period" type="xs:short" use="required"/>
			<xs:attribute name="from" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="badnodes">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="badnode" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="time" type="xs:decimal" use="required"/>
			<xs:attribute name="id" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="badnode">
		<xs:complexType>
			<xs:attribute name="version" type="xs:byte" use="required"/>
			<xs:attribute name="id" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
